header{
  background: $brand-gradient;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  h1{
    color: $white;
    padding: 25px 0 0 0;
    margin: 0px;
  }

  a{
    color: $white;
    display: inline-block;
  }

  p{
    margin: 0px;
    padding: 0px;
    color: $white;
    display: inline-block;
  }
  .container{
    padding-top: 26px;
  }
  input{

    &::placeholder {
      color: $white;
      letter-spacing: 0.5px;
    }

    &[type=search] {
      width: 100%;
      box-sizing: border-box;
      border: 0px;
      border-radius: 5px;
      font-size: 16px;
      color: $white;
      background-color: rgba(250, 250, 250, 0.2);
      background-image: url('../img/general/Search-Bar.svg');
      background-position: right 15px bottom 20px;
      background-repeat: no-repeat;
      background-size: 16px;
      padding: 20px 20px 20px 15px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }

    &[type=search]:focus {
        width: 100%;
    }
    &:focus {
      outline: none;
    }
  }
}

.navbar {
  overflow: hidden;
  background-color: $white;
  border-top: $light-grey 1px solid;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

  ul{
    padding: 0px;
    margin: 0px;
    width: 100%;

    li{
      width: 25%;
      padding: 10px;
      float: left;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      list-style: none;
      text-align: center;

      a {
        text-align: center;
        display: block;
        color: $grey;
        text-align: center;
        text-decoration: none;
        font-size: $nav-font;

        p{
          padding:2px 0 0 0;
          margin: 0px;
        }
      }

      .svg{
        path {
          fill: $grey;
        }
        polygon {
          fill: $grey;
        }
      }

      &.active{
        a {
         color: $brand-dark;
        }
        .svg{
          path {
            fill: $brand-dark;
          }
          polygon {
            fill: $brand-dark;
          }
        }
      }
    }
  }
}
