header{
  background: $brand-gradient;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  h1{
    color: $white;
    padding: 25px 0 0 0;
    margin: 0px;
  }

  a{
    color: $white;
    display: inline-block;
  }

  p{
    margin: 0px;
    padding: 0px;
    color: $white;
    display: inline-block;
  }
  .half{
    width: 49%;
    display: inline-block;

    &:last-child{
      text-align: right;
    }
  }
}

.navbar {
  overflow: hidden;
  background-color: $white;
  border-top: $light-grey 1px solid;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

  ul{
    padding: 0px;
    margin: 0px;
    width: 100%;

    li{
      width: 25%;
      padding: 10px;
      float: left;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      list-style: none;
      text-align: center;

      a {
        text-align: center;
        display: block;
        color: $grey;
        text-align: center;
        text-decoration: none;
        font-size: $nav-font;

        p{
          padding:2px 0 0 0;
          margin: 0px;
        }
      }

      .svg{
        path {
          fill: $grey;
        }
        polygon {
          fill: $grey;
        }
      }

      &.active{
        a {
         color: $brand-dark;
        }
        .svg{
          path {
            fill: $brand-dark;
          }
          polygon {
            fill: $brand-dark;
          }
        }
      }
    }
  }
}
