.locationscroll{
  background: $white;
  box-shadow: 0 2px 7px 0 rgba(192,192,192,0.25);
  border-radius: 5px;
  box-sizing: border-box;
  width: 290px;
  margin-right: 15px;
  display: inline-block;
  &:first-of-type{
    margin-left: 5%;
  }
  &:last-of-type{
    margin-right: 5%;
  }

  .loc-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 220px;
    border-radius: 5px 5px 0 0;

    .loc-img-inside{
      padding: 10px 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;

      .loc-dist{
        color: $white;
        flex-grow: 1;
        flex-shrink: 1;

        p{
          font-size: 1em;
          text-shadow: 0 0 8px rgba(97, 97, 97, 0.31);;
          margin: 0px;
        }
      }

      .loc-fav{
        flex-grow: 0;
        flex-shrink: 0;
        height: 22px;

        img{
          width: 22px;
          filter: drop-shadow(0 0 8px rgba(106,106,106,0.50));
        }
      }
    }
  }

  .loc-img-link{
    height: 90%;
    width: 100%
  }

  a{
    text-decoration: none;
  }

  .loc-list-bar{
    padding: 20px 0 20px 0;


    .loc-list-bar-half{
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;

      .loc-list-bar-cat{
        flex-grow: 1;
        flex-shrink: 1;
      }

      .loc-list-bar-rating{
        flex-grow: 0;
        flex-shrink: 0;
      }
    }

    h1{
      color: $black;
      margin: 0px;
      padding-bottom: 10px;
    }

    p{
      font-size: $paragraph-small;
      text-transform: uppercase;
      color: rgba(53,63,74,0.50);
      letter-spacing: 2.31px;
      margin: 0px;
    }
  }
}
