// Variables


// Colours
$black: #000000;
$white: #ffffff;
$brand-light: #40F5E7;
$brand-dark: #40BBC0;

//Media Queries
$break-small: 560px;
$break-medium: 770px;
$break-large: 1200px;

//Font Size
$large-font: 2.5em;
$menu-font: 2.2em;
$header-font: 1.3em;
$small-font: 1em;
$paragraph-font: 1.25em;
