// Variables


// Colours
$black: #353F4A;
$white: #FFFFFF;
$brand-light: #40F5E7;
$brand-dark: #40BBC0;
$grey: #A2A2A2;
$light-grey: #F4F4F4;
$error-red: #CC0000;

$brand-gradient: linear-gradient(-215deg, $brand-light 0%, $brand-dark 100%);;


//Media Queries
$break-small: 560px;
$break-medium: 770px;
$break-large: 1200px;

//Font Size
$page-headers: 1.25em;
$nav-font: 0.7em;
$small-link-font: 0.85em;
$paragraph-font: 1em;
$paragraph-small: 0.8em;
