<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">

<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} | {{ siteName }}{% else %}{{ site.siteTagline }}{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />

	{% set favicon = site.siteFavicon.image.first() %}
	<link rel="icon" href="{{ siteUrl }}{{ favicon.url }}">

	<meta name="description" content="{{ site.siteDescription }}">
	<meta name="keywords" content="{% for tag in site.siteKeywords %}{{ tag }}, {% endfor %}">
	<meta name="author" content="{{ site.siteAuthor }}">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">

	<link rel="stylesheet" href="{{ siteUrl }}assets/css/main.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script type="text/javascript">
		navigator.geolocation.getCurrentPosition(function(pos){
			localStorage.setItem("latitude", pos.coords.latitude);
			localStorage.setItem("longitude", pos.coords.longitude);
		}, function(e){console.log(e)})

		var lat = localStorage.latitude;
		var lon = localStorage.longitude;
	</script>

</head>

<body>

	<header id="header">

		<div class="container header-mobile">

			<form action="{{ url('search/results') }}">
				<input type="search" name="q" placeholder="Search...">
				<input type="submit" value="&nbsp;">
			</form>

		</div>

		<div class="container header-desktop">

			<div class="header-logo">

				<a href="{{ url('') }}">
					<img class="login-logo" src="{{ siteUrl }}assets/img/general/logo-white.svg" alt="Logo">
				</a>
			</div>

			<div class="header-nav">
				<ul id="navbar-list">
					<li {% if craft.request.firstSegment == "" %}class="active"{% endif %}>
						<a href="{{ url('') }}">
							<p>Explore</p>
						</a>
					</li>
					<li {% if craft.request.firstSegment == "search" %}class="active"{% endif %}>
						<a href="{{ url('search') }}">
							<p>Search</p>
						</a>
					</li>
					<li {% if craft.request.firstSegment == "favourites" %}class="active"{% endif %}>
						<a href="{{ url('favourites') }}">
							<p>Favourites</p>
						</a>
					</li>
					<li {% if craft.request.firstSegment == "profile" %}class="active"{% endif %}>
						<a href="{{ siteUrl }}profile/{{ user }}">
							<p>Profile</p>
						</a>
					</li>
				</ul>
			</div>

			<div class="header-search">
				<form action="{{ url('search/results') }}">
					<input type="search" name="q" placeholder="Search...">
					<input type="submit" value="&nbsp;">
				</form>
			</div>

		</div>

	</header>


	<div class="navbar">
		<ul id="navbar-list">
			<li {% if craft.request.firstSegment == "" %}class="active"{% endif %}>
				<a href="{{ url('') }}">
					<img class="svg" src="{{ siteUrl }}assets/img/general/explore-icon.svg" alt="explore"/>
					<p>Explore</p>
				</a>
			</li>
			<li {% if craft.request.firstSegment == "search" %}class="active"{% endif %}>
				<a href="{{ url('search') }}">
					<img class="svg" src="{{ siteUrl }}assets/img/general/search-icon.svg" alt="explore"/>
					<p>Search</p>
				</a>
			</li>
			<li {% if craft.request.firstSegment == "favourites" %}class="active"{% endif %}>
				<a href="{{ url('favourites') }}">
					<img class="svg" src="{{ siteUrl }}assets/img/general/favourites-icon.svg" alt="explore"/>
					<p>Favourites</p>
				</a>
			</li>
			<li {% if craft.request.firstSegment == "profile" %}class="active"{% endif %}>
				<a href="{{ siteUrl }}profile/{{ user }}">
					<img class="svg" src="{{ siteUrl }}assets/img/general/profile-icon.svg" alt="explore"/>
					<p>Profile</p>
				</a>
			</li>
		</ul>
	</div>


	<main id="content" role="main">
		{% block content %}

		{% endblock %}
	</main>


	<div class="container">

		<footer id="footer">

		</footer>

	</div>

<script src="https://use.fontawesome.com/0a8bd07c77.js"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0-beta.25/dist/scrollreveal.js"></script>

<script src="{{ siteUrl }}assets/js/script-min.js"></script>

</body>
</html>
