<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" id="background-img">

<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} | {{ siteName }}{% else %}{{ site.siteTagline }}{% endif %}</title>
	<link rel="home" href="{{ siteUrl }}" />

	{% set favicon = site.siteFavicon.image.first() %}
	<link rel="icon" href="{{ siteUrl }}{{ favicon.url }}">

	<meta name="description" content="{{ site.siteDescription }}">
	<meta name="keywords" content="{% for tag in site.siteKeywords %}{{ tag }}, {% endfor %}">
	<meta name="author" content="{{ site.siteAuthor }}">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">

	<link rel="stylesheet" href="{{ siteUrl }}assets/css/main.css" />

</head>

<body>

<div class="login-margin">
  <div class="login-table">
		<div class="login-layout">

			<main id="content" role="main">
				{% block content %}

				{% endblock %}
			</main>

		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/0a8bd07c77.js"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0-beta.25/dist/scrollreveal.js"></script>

<script src="{{ siteUrl }}assets/js/script-min.js"></script>

</body>
</html>
