<div class="locationscroll">

		<div class="loc-img" style="background-image:url({{ item.element.locationPhoto[0].url }})">

      <div class="loc-img-inside">

        <div class="loc-dist">
        </div>

        <div class="loc-fav">

          {% if item.inList %}
            <a href="{{ item.removeActionUrl }}">
              <img class="" src="{{ siteUrl }}assets/img/general/heart-full.svg" alt="Remove from favourites"/>
            </a>
          {% else %}
            <a href="{{ item.addActionUrl }}">
              <img class="" src="{{ siteUrl }}assets/img/general/heart.svg" alt="Add to favourites"/>
            </a>
          {% endif %}

        </div>

      </div>

      <a href="{{ item.element.url }}">

        <div class="loc-img-link">

        </div>

      </a>

    </div>

    <a href="{{ item.element.url }}">

    <div class="loc-list-bar container">

      <div class="loc-list-bar-title">

        <h1>{{ item.element.title }}</h1>

      </div>

      <div class="loc-list-bar-half">

        <div class="loc-list-bar-cat">

          {% for category in item.element.locationType %}
            <p>{{ category.title }}</p>
          {% endfor %}

        </div>

        <div class="loc-list-bar-rating">

          <div class="star-ratings">
            {% set averageRating = craft.commentsrating.elementRating(item.element.id) %}
            {% set averageRatingBlank = 5 - averageRating %}

            {% if averageRating > '0' %}

              {% for star in 1..averageRating %}

                  <div class="icon-star is-active"></div>

              {% endfor %}

              {% if averageRating < 5 %}

                {% for star in 1..averageRatingBlank %}

                    <div class="icon-star"></div>

                {% endfor %}

              {% endif %}

            {% endif %}

            {% if averageRating == 0 %}
            <div class="icon-star is-active"></div>
            <div class="icon-star is-active"></div>
            <div class="icon-star is-active"></div>
            <div class="icon-star"></div>
            <div class="icon-star"></div>

            {% endif %}

          </div>

        </div>

      </div>

    </div>

    </a>

</div>
