{% extends "_loginlayout" %}
{% set title = "Login" %}
{% block content %}

<div class="container">

	<img class="login-logo" src="{{ siteUrl }}assets/img/general/logo-white.svg" alt="Logo">

	<form method="post" accept-charset="UTF-8">

		{% if errorMessage is defined %}
			<div class="login-error">
				<p>{{ errorMessage }}</p>
			</div>
		{% endif %}

    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/login">

		<h1><label for="password">Email</label></h1>
    <input id="loginName" class="text-field" placeholder="Enter your email address" type="text" name="loginName"
        value="{{ craft.session.rememberedUsername }}">

    <h1><label for="password">Password</label></h1>
    <input id="password" class="text-field" placeholder="Enter your password" type="password" name="password">

    <label style="display:none;">
        <input type="checkbox" name="rememberMe" value="1" checked="checked">
    </label>

    <input type="submit" class="login-btn" value="Log In">

	</form>

	<div class="login-extra-links">
		<a href="{{ url('register') }}">Dont have an account yet? Sign up now.</a>
		<a href="{{ url('password_reset') }}">Forget your password?</a>
	</div>

</div>

{% endblock %}
