{% extends "_layouts/_loginlayout" %}
{% set title = "Reset Password" %}
{% block content %}

<div class="container">

	<img class="login-logo" src="{{ siteUrl }}assets/img/general/logo-white.svg" alt="Logo">

	<form method="post" accept-charset="UTF-8">

		{% if errors is defined %}
			<div class="login-error">
				<ul>
						{% for error in errors %}
								<li>{{ error }}</li>
						{% endfor %}
				</ul>
			</div>
		{% endif %}

    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/sendPasswordResetEmail">
    <input type="hidden" name="redirect" value="">

    <h1><label for="loginName">Reset Password</label></h1>
    <input id="loginName" class="text-field" placeholder="Enter your email address or username" type="text" name="loginName"
        value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">

    <input class="login-btn" type="submit" value="Request Reset Email">

	</form>

	<div class="login-extra-links">
		<a href="{{ url('login') }}">Remembered your password? Log in now.</a>
	</div>

</div>

{% endblock %}
