{% extends "_layouts/_layout" %}
{% set title = user.username %}
{% requireLogin %}
{% block content %}

{% set user = craft.users.username( craft.request.segment(2) ).first() %}
{% if not user %}
   {% exit 404 %}
{% endif %}

{% set search = user %}

<div class="compensator">

  <div class="profile-page container small-container">

    <div class="profile-picture" style="background-image:url({{ user.getPhotoUrl(500) }})">
    </div>

    <div class="user-title">
      <h1>{{ currentUser}}</h1>
      <p>{{ user.email }}</p>
    </div>

    <div class="greybox-profile profile-box">

      <ul class="profile-list">
        <li>
          <a href="{{ url('locations/add-new') }}">Add Location
            <img class="svg" src="{{ siteUrl }}assets/img/general/add.svg" alt="explore"/>
          </a>
        </li>
        <li>
          <a href="{{ currentUser.username }}/settings">Settings
            <img class="svg" src="{{ siteUrl }}assets/img/general/settings.svg" alt="explore"/>
          </a>
        </li>
        <li>
          <button onclick="window.localStorage.clear();" class="logout-btn">
            <a href="{{ url('logout') }}">Logout
              <img class="svg" src="{{ siteUrl }}assets/img/general/logout.svg" alt="explore"/>
            </a>
          </button>
        </li>
      </ul>


    </div>

  </div>

</div>


{% endblock %}
