{% extends "_layout" %}
{% set title = user.username %}
{% requireLogin %}
{% block content %}

{% set user = craft.users.username( craft.request.segment(2) ).first() %}
{% if not user %}
   {% exit 404 %}
{% endif %}

{% set search = user %}

<div class="profile-page">

  <h1>{{ user.username }}</h1>
  {{ entry.body }}

  <img src="{{ user.getPhotoUrl(500) }}" alt="{{ user.fullname }} profile picture">


  <p>{{ user.fullname }}</p>
  <p>{{ user.email }}</p>
  <p>{{ user.userBio }}</p>

  <a href="{{ currentUser.username }}/settings">settings</a>

</div>



{% endblock %}
