{% extends "_layouts/_layout" %}
{% set title = user.username %}
{% requireLogin %}
{% block content %}

{% set user = craft.users.username( craft.request.segment(2) ).first() %}
{% if not user %}
   {% exit 404 %}
{% endif %}

{% set search = user %}

<div class="compensator">

  <div class="profile-page container small-container">

    <div class="profile-picture" style="background-image:url({{ user.getPhotoUrl(500) }})">
    </div>

    <div class="user-title">
      <h1>{{ currentUser}}</h1>
      <p>{{ user.email }}</p>
    </div>

    <div class="greybox-profile">

      <a href="{{ currentUser.username }}/settings">settings</a>

    </div>

  </div>

</div>


{% endblock %}
